<!DOCTYPE html>
<html>
  <!--<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>-->
  <body>
    <h1>Hey you got work to do ^^</h1>
    <p>
      Attached is the csv of all unsent postcards as of the last time you received this email.    
    </p>
    <p>
      Keep up the good work!
    </p>
  </body>
</html>
