<div id="welcome">
	<h2>Learn More About Colorectal Cancer</h2>
	Information about colorectal cancer can be a whole lot to digest. The following resources are a good start to learning about what you can do to prevent colorectal cancer. For the best advice, consult your doctor.<br><br>

<a href="http://http://www.colonoscopyfordummies.com/index.aspx">Colonoscopy for Dummies</a><br>
<a href="http://screeningsaves.org">Screening Saves</a><br />
<a href="www.ccalliance.org">Colon Cancer Alliance</a><br />
<a href="http://fightcolorectalcancer.org/">Fight CRC</a><br />
<a href="http://familyplz.org/">Family Plz</a><br />
<a href="http://www.cdc.gov/cancer/colorectal">CDC Screen for Life</a><br />
American Cancer Society: <a href="http://www.cancer.org/Cancer/ColonandRectumCancer/MoreInformation/ColonandRectumCancerEarlyDetection/index">Colorectal Cancer Early Detection</a><br />
Ten Questions You Need to Ask About Colonoscopy via <a href="http://www.nytimes.com/2009/02/24/health/esn-colonoscopy-expert.html?_r=1&pagewanted=all">NYTimes</a>
</div>
