<div id="welcome">

	<h2>Support Our Cause</h2>Share this site via <a href="https://www.facebook.com/signthebottomline">Facebook</a>, <a href="https://twitter.com/#!/signbottomline">Twitter</a>, e-mail, and other social media so your friends can get their butts over here and take action!<br><br>
	       As a nonprofit project, The Bottom Line relies on grants and donations to fund the cost of our postcards. Your donations keep the conversation going.<br><br> 

	      The Bottom Line plans to introduce DIY Bottom Line Campaign tool-kits for organizations to get the word out on the ground, but we cannot do it without your help.<br><br>

	       As a fiscally sponsored project of <a href="www.netrootsfoundation.org">Netroots Foundation</a>, your donations to The Bottom Line will be tax-deductible. Thank you for helping us kick colorectal cancer's butt!<br><br>
	                  Check out <a href="about.html">these resources</a> to learn more about colorectal cancer and advocate via <a href="fightcolorectalcancer.org">Fight CRC</a> for policy and funding to prevent colorectal cancer.<br><br>
			  <center>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="info@signthebottomline.org">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="item_name" value="The Bottom Line">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</center>
</div>
