<% content_for :head do %>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#why_register').click(function() {
				$('#why_register_popup').fadeIn();
			});
			$('#close').click(function() {
				$('#why_register_popup').fadeOut();
			});
			$('#register_why').click(function() {
				window.location.href = '/register';
			});
				
		});
	</script>

<% end %>
<div id="welcome">
<h2>Finally, A Cure You Can Get Behind</h2>
<img src="/images/postcard-stack.png" class="left" width="300px">
Colorectal cancer is the second leading cause of cancer-related deaths. The bottom line? 60% of these deaths would be prevented with routine screenings.
<br><br>
If your parents or loved ones are between the ages of 50 and 75, they are at risk and need to be screened for colorectal cancer. Adults with certain risk factors should be screened even earlier.

<!--h2>Risk Factors</h2>
Black Adults: highest rate of incidence and death from colorectal cancer; should start screenings at 45, earlier with family history.<br><br>
Personal or family history of colon polyps and colorectal cancer.
<br><br>
Personal history of inflammatory bowel disease such as Crohn's disease.
<br><br>
Lifestyles including high-fat, low-fiber diets, smoking, obesity, lack of exercise, and excessive alcohol consumption.
-->
</div>
<% if !session[:userid] %>
	<button id="why_register" class="rbutton">Why register?</button>
	<div class="hidden" id="why_register_popup">When you register with The Bottom Line, you not only are able to receive periodical informational newsletters about colorectal cancer, but are also able to send physical postcards and to bask in all of the good you've done by keeping track of the past cards you've sent. All of your information will be stored securely and will only be used for your convenience. If you don't want to commit to registering, that's not a problem either. You can still send as many e-cards as you want! Best of all, everything is free because we know just how important it is to get your loved ones screened.
		<button id="register_why" class="rbutton bleft">Register now</button><a id="close">No thanks</a></div>
<% end %>
