<div id="welcome">
	<h2>Our Mission</h2>
	According to the CDC, colorectal cancer accounts for the second largest number of cancer-related deaths in cancers affecting both men and women every year. Yet the bottom line is more than 60% of colorectal cancer-related deaths could have been prevented with routine screenings. 90% of patients treated in the earliest cases of colorectal cancer survive. If we make a concerted effort for preventive health screenings, we can kick colorectal cancer's butt once and for all.

</div>
