<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <div align="center"><a href="http://signthebottomline.org"><img src="http://thebottomline.herokuapp.com/images/logo.png" width="231" height="100"></a></div>
  <br>
  <div align="center"><div style="margin-top: 10px; color: #000; width: 550px; min-height: 250px; background-color: #eee; border-left-color: #ccc; border-top-color: #ccc; border-right-color: #ccc; border-bottom-color: #ccc; border-left-width: 2px; border-top-style: solid; border-right-style: solid; border-bottom-width: 2px; border-left-style: solid; border-top-width: 2px; border-right-width: 2px; border-bottom-style: solid; background-color: #08a4cc; background-image: url(http://thebottomline.herokuapp.com<%= @ecard.background %>);">
  <div style="height: 30px; font-weght: bold; font-size: 18px; color: #fff; padding-top: 25px; padding-right: 25px; padding-bottom: 0; padding-left: 25px;"><%= @ecard.message %></div>
  <div style="margin-top: 25px; color: #fff; line-height: 1em; font-size: 16px; text-align: left; padding-top: 0; padding-right: 25px; padding-bottom: 25px; padding-left: 25px;" align="left">
    
    <p style="margin-bottom: 10px;">Dear <span><%= @ecard.recipient %></span>,</p>

    <p style="margin-bottom: 10px;">Colorectal cancer is the second leading cause of cancer-related deaths affecting both men and women.</p>

    <p style="margin-bottom: 10px;">The Bottom Line: 60% of these deaths could be prevented with routine screenings and 90% of people diagnosed with colorectal cancer at its earliest stages survive more than five years.</p>

    <p style="margin-bottom: 10px;">I am reminding you to get a life saving screening to protect your health.</p>

    <p style="margin-bottom: 10px;">Already checked? Haven’t yet? Update me and visit <a href="http://signthebottomline.org">signthebottomline.org</a> to learn more.</p>

    <p style="margin-bottom: 10px;"><span><%= @ecard.sender %></span></p>
  </div>
  </div></div>
  </body>
</html>
