<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, <%= @ecard.recipient %>.</h1>
    <p>
      This is a placeholder for an ecard.
      <br><br>
      Here's a message:
      <%= @ecard.message %>
      <br><br>
      From: <%= @ecard.sender %><!--, TODO: add email to db  @ecard.user.email -->
      
    </p>
    <p>Thanks!</p>
  </body>
</html>
