<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, <%= @ecard.to_name %>.</h1>
    <p>
      This is a placeholder for an ecard.
      
      Here's a message:
      <%= @ecard.message %>
      
      From: <%= @ecard.from_name %>, <%= @ecard.email %>
      
    </p>
    <p>Thanks!</p>
  </body>
</html>
