<div id="forgot">
<h2>Recover Password</h2>
<%= form_tag :action => "send_password" do %>
<div class="clearfix">
<%= email_field_tag('email', nil, {:class => 'rinput', :placeholder => 'Email', :required => 'required'})%>  
</div>
<%= submit_tag 'Send New Password', :class => 'rbutton' %>
<% end %>
</div>
