<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Hello, <%= @user.name %>.</h3>
    <p>
      <%= @text %>     
    </p>
    <p>Thank you for your time and support! If you wish to unsubscribe, please visit thebottomline.herokuapp.com/settings</p>
  </body>
</html>
