/** Newer CSS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


a {
	text-decoration: none;
	font-weight: 700;
	color: #bc2d67;
}

a:hover {
	color: #8a1443;
}

/** Layout stuff */
#container {
	width: 800px;
	margin: 50px auto;
	text-align: center;
}

#content {
	position: relative;
	z-index: 50;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.8);
	width: 700px;
	text-align: center;
	padding: 20px 20px 40px 20px;
	height: 100%;
	min-height: 250px;
	margin: 10px auto 0px auto;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

#frontbutton {
	position: relative;
	z-index: 99;
	margin: -25px 0px 0px 0px;
}

#copyright {
	background-color: #9cd8ed;
	width: 600px;
	font-size: 12px;
	color: #107a95;
	width: 700px;
	margin: 20px auto 0px auto;
	line-height: 15px;
	padding: 10px 20px;;
	border-top: 1px solid #c7ebf8;
	border-bottom: 1px solid #87cae1;
}

.loggedin {
	border-radius: 5px;
	background-color: #9cd8ed;
	border-top: 1px solid #c7ebf8;
	border-bottom: 1px solid #87cae1;
	padding: 5px;
	bottom: 0px;
	right: 0px;
	display: inline-block;
	position: relative;
	width: 150px;
	line-height: 16px;
	cursor: pointer;
}

.loggedin:hover {
	background-color: #aae0f3;
	border-radius: 5px 5px 0px 0px;
}


.username {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	text-align: center;
}

.nav {
	margin: 6px;
	color: #fff;
	text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
	font-size: 20px;
	line-height: 30px;
	letter-spacing: -2px;
	font-weight: 700;
}

.nav:hover {
	color: #e6f1f8;
}

#navbar .usercontrol {
	margin-left: 10px;
	letter-spacing: 0px;
}

#navbar {
	position: relative;
}

.loggedin ul {
	position: absolute;
	display: none;
	width: 160px;
	margin-left: -5px;
	box-shadow: 0 0 15px #419bbb;
	background-color: #9cd8ed;
	border-radius: 0px 0px 5px 5px;
}

#navbar .loggedin:hover ul {
	display: block;
	top: 43px;
}

.logout {
	border-radius: 0px 0px 5px 5px;
}

.loggedin li {
	color: #419bbb;
	text-shadow: 0px 2px 0px #c7ebf8;
	line-height: 25px;
	border-top: 1px solid #c7ebf8;
	border-bottom: 1px solid #87cae1;
	padding: 5px;
}

.loggedin li:hover {
	background-color: #aae0f3;
}

strong {
	font-weight: 700;
}

h2 {
	font-size: 30px;
	margin-bottom: 20px;	
	color: #a3c4c9;
	text-shadow: 0px 2px 0px #fff;
	font-weight: 700;
	text-align: center;
}


input::-webkit-input-placeholder {
	color: #b3d8dd;
}

input:-moz-placeholder {
	color: #b3d8dd;
}

#login, #register, #settings, #send, #admin {
	font-size: 18px;
}

#login label, #register label, #settings label, #send label, #admin label {
	line-height: 40px;
}
#login .speciallabel, #register .speciallabel, #settings .speciallabel, #send .speciallabel {
	font-size: 14px;
}

#forgot .clearfix, #login form, #admin form {
	text-align: left;
}

#register form, #settings form, #send form {
	text-align: left;
	border: 1px solid #cbe7eb;
	background-color: #fff;
	padding: 5px 10px;
}


#login .rinput, #forgot .rinput {
	width: 480px;
	float: none;
	margin: 0 auto;
}

#settings .rinput, #send .rinput {
	width: 400px;
}

.small {
	width: 148px !important;
	float: none !important;
}

.smaller {
	width: 51px !important;
	float: none !important;
}

.right {
	float: right;
}

#forgot .clearfix, #login .clearfix {
	width: 500px;
	margin: 5px auto;
}

.clearfix {
	margin: 5px 0px;
	width: auto;
	height: 42px;
	clear: both;
}

.rinput {
	height: 20px;
	outline: 0;
	border: 1px solid #cbe7eb;
	border-radius: 5px;
	float: right;
	padding: 10px;
	width: 70%;
	font-size: 18px;
}

.rinput:focus {
	box-shadow: 0 0 5px #cbe7eb;
}

.rbutton, .usercontrol {
	border-radius: 5px;
	border: 1px solid #ba2c65;
	background-color: #d03c78;
	text-shadow: 0px 2px 0px #ba2c65;
	color: #fff;
	min-width: 100px;
	height: 40px;
	font-size: 18px;
	cursor: pointer;
	display: block;
	margin: 10px auto;
}

.usercontrol {
	display: inline;
	padding: 5px 10px;
}
.usercontrol:hover {
	color: #fff;
}

.notice, .error {
	width: auto;
	background-color: #1AA6CB;
	border-radius: 5px;
	color: #fff;
	margin-bottom: 20px;
	padding: 10px;
}

.error {
	background-color: #D03C78;
}

.error a {
	color: #82123f;
}

.error a:hover {
	color: #8a1443;
}

.usercontrol:hover, .rbutton:hover {
	background-color: #ba2c65;
}

.large {
	background-color: #1aa6cb;
	border: 1px solid #107a95;
	color: #fff;
	font-size: 20px;
	font-family: Helvectica, Arial; 
	font-weight: 700;
	line-height: 20px;
	border-radius: 5px;
	padding: 15px 30px;
	cursor: pointer;
	text-shadow: 0px 2px 0px #107a95;
}

button, a {
	transition: background-color 200ms;
	-moz-transition: background-color 200ms; /* Firefox 4 */
	-webkit-transition: background-color 200ms; /* Safari and Chrome */
	-o-transition: background-color 200ms; /* Opera */
}

.large:hover {
	background-color: #107a95;
}


body 
{
	background: #81cbe4;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: light;
	font-size: 15px;
	line-height: 25px;
	color: #164b73;
}

#reminder {
	text-align: left;
}

#reminder img {
	float: left;
	margin-right: 20px;
}

.left {
	float: left;
	margin-right: 20px;
}

.tinytext {
	color: #bc2d67;
	font-size: 11px;
	line-height: 18px;;
}

#buttons {
	text-align: center;
	padding: 30px 20px 0px 20px;
}

#buttons button {
	margin: 5px 5px 0px 5px;
}

#send textarea {
	resize: none;
	height: 100px;
}

.clear {
	clear: both;
}


#recentcards {
	text-align: left;
	border: 1px solid #cbe7eb;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 5px;
	margin-bottom: 20px;
}

.card {
	font-size: 12px;
	line-height: 14px;

	width: 115px;
	height: 100px;
	background-color: #D03C78;
	margin: 5px;
	float: left;
	color: #fff;
	cursor: pointer;
	position: relative;
	padding: 5px;
	border-radius: 5px;
	border-bottom: 1px solid #BA2C65;
	text-shadow: 0px 2px 0px #BA2C65;

}

.cardinner {
	overflow: scroll;
	text-overflow: ellipsis;
	height: 65px;
}

.card:hover {
	box-shadow: 0 0 15px #D03C78;
}


.timedate {
	width: 115px;
	padding-bottom: 5px;
	padding-top: 3px;
	border-top: 1px dotted #fff;
	bottom: 0px;
	position: absolute;
	opacity: 0.7;
}

h3 {
	font-weight: 700;
	font-size: 20px;
	margin: -5px;
	margin-bottom: 5px;
	padding: 10px;
	color: #fff;
	text-shadow: 0px 2px 2px #A3C4C9;
	background-color: #cbe7eb;
}

h4 {
	color: #82123f;
	font-weight: 700;
	text-shadow: none;
	margin-bottom: 3px;
}

.hidden {
	display: none;
}

#close {
	cursor: pointer;
}

#why_register_popup {
	position: absolute;
	top: 20px;
	font-size: 14px;
	text-align: left;
	border-radius: 10px;
	color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(255,255,255,0.8);
	width: 680px;
	padding: 10px;
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
	background-color: #0c2149;
}

#why_register_popup button {
	margin: 10px auto;
	font-size: 14px;
	line-height: 18px;
	height: 30px;
}
