<!DOCTYPE html>
<html>
<head>
  <title>The Bottom Line</title>
  <link rel="shortcut icon" href="images/favicon.ico" />
  <%= stylesheet_link_tag    "application" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<p class="copyright" align="center">&#169; 2012 The Bottom Line 2012. All rights reserved. The Bottom Line is not a substitute for medical advice. Please consult a medical specialist for support. Your privacy is important to The Bottom Line. Personal information you provide will never be sold to commercial interests. Like these designs? Visit <a href="http://www.IHeartGuts.com">IHeartGuts.com</a></p></p>
</body>
</html>
